{%- comment -%}
  Include vars:
	title
  subtitle
	auto-header
	content
{%- endcomment -%}

{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}

{%- if include.title != 'News & Talks' -%}
  {%- if include.title == "Gallery" -%}
    {%- assign _heading = "" -%}
  {%- else -%}
    {%- capture _heading -%}
      <header class="section-heading">
        <h2>
          {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
            {{- _title -}}
          {%- else -%}
            {{- include.auto-header -}}
          {%- endif -%}
        </h2>
        {%- if include.subtitle -%}<p>{{- include.subtitle -}}</p>{%- endif -%}
      </header>
    {%- endcapture -%}
  {%- endif -%}
{%- else -%}
  {%- assign _heading = "" -%}
{%- endif -%}

<section id="{{- _slug -}}" class="{{- _class -}}">
  <div class="container-fluid" style="padding-left: 3%; padding-right: 3%;">
    <div class="row">
      {{- _heading -}}
      {{- include.content -}}
    </div>
  </div>
</section>
