/*
css: research areas
 */
.rsch-areas {
  margin-top: -10px !important;
}

.ml {
  width: 45%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/research_areas/ml.jpg") center center no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-left: 3%;
  transition: transform 0.2s;
}

.ml:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
}

.systems {
  width: 45%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/research_areas/systems.jpg") center center
      no-repeat;
  background-size: 100% 100%;
  margin-left: 2%;
  transition: transform 0.2s;
}

.systems:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
}

.networking {
  width: 45%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/research_areas/networking.jpg") center center
      no-repeat;
  background-size: cover;
  margin-left: 3%;
  transition: transform 0.2s;
}

.networking:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
}

.theory {
  width: 45%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/research_areas/theory.jpg") center center no-repeat;
  background-size: cover;
  margin-left: 2%;
  transition: transform 0.2s;
}

.theory:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
}

.rsch_heading {
  padding-top: 225px;
  text-align: left;
  color: white;
}

.research_heading {
  float: left;
  padding-left: 1em;
  padding-top: 0.2em;
}

.tablink {
  background-color: #dbdbdb;
  color: #471118;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 1em;
  width: 25%;
  border-radius: 0;
}

.tablink:hover {
  background-color: #bababa;
}

.tabcontent {
  display: none;
  padding: 70px 10px;
  height: 100%;
}

.tabcontent ul {
  padding-left: 0.25em;
  margin-left: 1.25em;
}

.research-body {
  background-color: #f5fafa;
}

.item_descpn {
  /* center description of news, talks */
  width: 100%;
}

/* max-width media queries starts */
@media only screen and (max-width: 650px) {
  .ml,
  .systems,
  .networking,
  .theory {
    width: 80%;
    margin-left: 8%;
  }
  .systems,
  .theory {
    margin-top: 8%;
  }
}
/* max-width media queries ends */
