#search-page-div input {
  width: 91%;
  height: 50px;
  float: left;
  padding-left: 15px;
}

#search-page-div button {
  float: left;
  width: 8%;
  height: 50px;
  border-radius: 0;
  justify-content: center;
  padding: 0;
  background-color: #dadada;
}

#search-page-div {
  padding-bottom: 50px;
}

#search-page-div + ul li {
  outline: none;
  padding-top: 1em;
}

#search-page-div + ul li {
  font-size: 1.5em;
  font-weight: 400;
}

#search-page-div + ul li a {
  border-bottom: none;
}
